{% extends "base.html" %}
{% block title %}  Dashboard {% endblock %}
{% load static %}
{% block content %}

<div data-elementor-type="single" data-elementor-id="865" class="elementor elementor-865 elementor-location-single post-831 page type-page status-publish hentry" data-elementor-settings="[]">
		<div class="elementor-inner">
			<div class="elementor-section-wrap">
				<main class="elementor-element elementor-element-4b28f3b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="4b28f3b" data-element_type="section">
					<div class="elementor-container elementor-column-gap-narrow">
						<div class="elementor-row">




							{% for account in lists %}

								<div class="elementor-element elementor-element-64fa69e elementor-column elementor-col-25 elementor-top-column" data-id="64fa69e" data-element_type="column">
									<div class="elementor-column-wrap  elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-931c013 elementor-widget elementor-widget-image" data-id="931c013" data-element_type="widget" data-widget_type="image.default">
												<div class="elementor-widget-container">
													<div class="elementor-image">
														<img src="{% static 'images/avatar-40.png' %}" title="accounts-marina-lawson" alt="accounts-marina-lawson">
													</div>
												</div>
											</div>
											<div class="elementor-element elementor-element-3668e70 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="3668e70" data-element_type="widget" data-widget_type="icon-list.default">
												<div class="elementor-widget-container">
													<ul class="elementor-icon-list-items elementor-inline-items">
														<li class="elementor-icon-list-item">
															<a href="#"> <span class="elementor-icon-list-text"> {{account.name}} </span>
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="elementor-element elementor-element-7252bb1 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="7252bb1" data-element_type="widget" data-widget_type="icon-list.default">
												<div class="elementor-widget-container">
													<ul class="elementor-icon-list-items elementor-inline-items">
														<li class="elementor-icon-list-item">
															<span class="elementor-icon-list-text"><span style="color: rgb(35, 175, 19); font-size: 12px; font-weight: 600; text-transform: none; background-color: rgb(199, 235, 195);">{{account.about}}</span></span>
														</li>
													</ul>
												</div>
											</div>
											<div class="elementor-element elementor-element-18af5cf elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="18af5cf" data-element_type="widget" data-widget_type="icon-list.default">
												<div class="elementor-widget-container">
													<ul class="elementor-icon-list-items elementor-inline-items">
														<li class="elementor-icon-list-item">
															<span class="elementor-icon-list-icon">
																<i aria-hidden="true" class="far fa-id-badge"></i> </span>
															<span class="elementor-icon-list-text"></span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>

								{% if forloop.counter|divisibleby:4 %}
												</div>
											</div>
									</main>
									<main class="elementor-element elementor-element-4b28f3b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="4b28f3b" data-element_type="section">
											<div class="elementor-container elementor-column-gap-narrow">
												<div class="elementor-row">
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</main>
				<main class="elementor-element elementor-element-4b28f3b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="4b28f3b" data-element_type="section">
					<div class="elementor-container elementor-column-gap-narrow">
						<div class="elementor-row">
							<div class="elementor-element elementor-element-64fa69e elementor-column elementor-col-25 elementor-top-column" data-id="64fa69e" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-931c013 elementor-widget elementor-widget-image" data-id="931c013" data-element_type="widget" data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<img src="http://linkedinrepublic.com/wp-content/uploads/elementor/thumbs/accounts-marina-lawson-ofx9k10nyfhp4jhzceylu4vwjitpj86gtr49ehsdsw.jpg" title="accounts-marina-lawson" alt="accounts-marina-lawson">
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-3668e70 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="3668e70" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<a href="#"> <span class="elementor-icon-list-text">marina
																lawson</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-7252bb1 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="7252bb1" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text"><span style="color: rgb(35, 175, 19); font-size: 12px; font-weight: 600; text-transform: none; background-color: rgb(199, 235, 195);">48,386</span></span>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-18af5cf elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="18af5cf" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-icon">
															<i aria-hidden="true" class="far fa-id-badge"></i> </span>
														<span class="elementor-icon-list-text"></span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-24f446a elementor-column elementor-col-25 elementor-top-column" data-id="24f446a" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-cb0f6a1 elementor-widget elementor-widget-image" data-id="cb0f6a1" data-element_type="widget" data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<img src="http://linkedinrepublic.com/wp-content/uploads/elementor/thumbs/accounts-bitcount-wallet-ofx9ke6em3zpn2yv7kndt1kcux0uizmpjk924d8vds.jpg" title="" alt=""> </div>
											</div>
										</div>
										<div class="elementor-element elementor-element-c716685 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="c716685" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<a href="#"> <span class="elementor-icon-list-text">
																wallet  </span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-1990d12 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="1990d12" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text"><span style="color: rgb(79, 40, 188); font-size: 12px; font-weight: 700; text-align: center; text-transform: titlecase; background-color: rgb(211, 201, 238);">287,370</span></span>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-40f0523 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="40f0523" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-icon">
															<i aria-hidden="true" class="far fa-address-book"></i>
														</span>
														<span class="elementor-icon-list-text"></span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-194fbb9 elementor-column elementor-col-25 elementor-top-column" data-id="194fbb9" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-8a47545 elementor-widget elementor-widget-image" data-id="8a47545" data-element_type="widget" data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<img src="http://linkedinrepublic.com/wp-content/uploads/elementor/thumbs/accounts-london-startups-ofx9kf48sy0zyoxi2320djbtgaw7qoqfvowjln7h7k.jpg" title="" alt=""> </div>
											</div>
										</div>
										<div class="elementor-element elementor-element-a7785e6 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="a7785e6" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<a href="#"> <span class="elementor-icon-list-text">london
																StartUps</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-e2ad92a elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="e2ad92a" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text">
															<font color="#4f28bc"><span style="font-size: 12px; background-color: rgb(211, 201, 238);"><b>487,029</b></span>
															</font>
														</span>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-6791a41 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="6791a41" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-icon">
															<i aria-hidden="true" class="far fa-address-book"></i>
														</span>
														<span class="elementor-icon-list-text"></span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-23468a5 elementor-column elementor-col-25 elementor-top-column" data-id="23468a5" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-2bb0767 elementor-widget elementor-widget-image" data-id="2bb0767" data-element_type="widget" data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<img src="http://linkedinrepublic.com/wp-content/uploads/elementor/thumbs/accounts-zinkaz-ofx9k2wcc3k9rrf91fruz4etqakfymdxi0f8d1plgg.jpg" title="" alt=""> </div>
											</div>
										</div>
										<div class="elementor-element elementor-element-610f24d elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="610f24d" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<a href="#"> <span class="elementor-icon-list-text">zinkaz</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-65d1a05 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="65d1a05" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text"><span style="color: rgb(255, 162, 0); font-size: 12px; font-weight: 700; text-align: center; text-transform: titlecase; background-color: rgb(255, 232, 191);">106,384</span></span>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-5d27999 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="5d27999" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-icon">
															<i aria-hidden="true" class="far fa-building"></i> </span>
														<span class="elementor-icon-list-text"></span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
				<main class="elementor-element elementor-element-e5268eb elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e5268eb" data-element_type="section">
					<div class="elementor-container elementor-column-gap-narrow">
						<div class="elementor-row">
							<div class="elementor-element elementor-element-e1ff467 elementor-column elementor-col-25 elementor-top-column" data-id="e1ff467" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-2954b45 elementor-widget elementor-widget-image" data-id="2954b45" data-element_type="widget" data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<img src="http://linkedinrepublic.com/wp-content/uploads/elementor/thumbs/accounts-startup-founders-ofx9k1yi59izg5gm6xd8emnd4wp2qxa75vrqvrqzmo.jpg" title="" alt=""> </div>
											</div>
										</div>
										<div class="elementor-element elementor-element-98927ea elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="98927ea" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<a href="#"> <span class="elementor-icon-list-text">StartUp
																Founders</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-62d3b08 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="62d3b08" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text">
															<font color="#4f28bc"><span style="font-size: 12px; background-color: rgb(211, 201, 238);"><b>387,653</b></span>
															</font>
														</span>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-fa1e6d3 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="fa1e6d3" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-icon">
															<i aria-hidden="true" class="far fa-address-book"></i>
														</span>
														<span class="elementor-icon-list-text"></span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-6d266d9 elementor-column elementor-col-25 elementor-top-column" data-id="6d266d9" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-0a4d4a9 elementor-widget elementor-widget-image" data-id="0a4d4a9" data-element_type="widget" data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<img src="http://linkedinrepublic.com/wp-content/uploads/elementor/thumbs/accounts-venture-builders-ofx9k2wcc3k9rrf91fruz4etqakfymdxi0f8d1plgg.jpg" title="" alt=""> </div>
											</div>
										</div>
										<div class="elementor-element elementor-element-d5e8ad6 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="d5e8ad6" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<a href="#"> <span class="elementor-icon-list-text">venture
																builders</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-345179d elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="345179d" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text">
															<font color="#4f28bc"><span style="font-size: 12px; background-color: rgb(211, 201, 238);"><b>209,712</b></span>
															</font>
														</span>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-9a33974 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="9a33974" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-icon">
															<i aria-hidden="true" class="far fa-address-book"></i>
														</span>
														<span class="elementor-icon-list-text"></span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-7757215 elementor-column elementor-col-25 elementor-top-column" data-id="7757215" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-e4e3bfa elementor-widget elementor-widget-image" data-id="e4e3bfa" data-element_type="widget" data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<img src="http://linkedinrepublic.com/wp-content/uploads/elementor/thumbs/accounts-tangerines-ofx9k1yi59izg5gm6xd8emnd4wp2qxa75vrqvrqzmo.jpg" title="" alt=""> </div>
											</div>
										</div>
										<div class="elementor-element elementor-element-f452fac elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="f452fac" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<a href="#"> <span class="elementor-icon-list-text">tangerines</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-de2c4f9 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="de2c4f9" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text">
															<font color="#ffa200"><span style="font-size: 12px; background-color: rgb(255, 232, 191);"><b>287,285</b></span>
															</font>
														</span>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-0067ed1 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="0067ed1" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-icon">
															<i aria-hidden="true" class="far fa-building"></i> </span>
														<span class="elementor-icon-list-text"></span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-f1f6866 elementor-column elementor-col-25 elementor-top-column" data-id="f1f6866" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-01f9c3d elementor-widget elementor-widget-image" data-id="01f9c3d" data-element_type="widget" data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<img src="http://linkedinrepublic.com/wp-content/uploads/elementor/thumbs/accounts-angel-investors-ofx9ke6em3zpn2yv7kndt1kcux0uizmpjk924d8vds.jpg" title="" alt=""> </div>
											</div>
										</div>
										<div class="elementor-element elementor-element-d700f04 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="d700f04" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<a href="#"> <span class="elementor-icon-list-text">angel
																investors</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-125a9fb elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="125a9fb" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text">
															<font color="#4f28bc"><span style="font-size: 12px; background-color: rgb(211, 201, 238);"><b>298,026</b></span>
															</font>
														</span>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-7d8ae00 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="7d8ae00" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-icon">
															<i aria-hidden="true" class="far fa-address-book"></i>
														</span>
														<span class="elementor-icon-list-text"></span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
				<main class="elementor-element elementor-element-0b7cba7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="0b7cba7" data-element_type="section">
					<div class="elementor-container elementor-column-gap-narrow">
						<div class="elementor-row">
							<div class="elementor-element elementor-element-107ff02 elementor-column elementor-col-100 elementor-top-column" data-id="107ff02" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-e93f07e elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="e93f07e" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text">By default, your <span style="color: rgb(35, 175, 19); font-size: 12px; font-weight: 700; text-transform: uppercase; background-color: rgb(199, 235, 195);">LINKEDIN
																PROFILE</span> is automatically connected to your
															account. That being said, based on your current plan, you
															can connect the <span style="color: rgb(255, 162, 0); font-size: 12px; font-weight: 700; text-transform: uppercase; background-color: rgb(255, 232, 191);">LINKEDIN
																PAGE</span>/s you created. What's more, you can also
															connect the <span style="color: rgb(79, 40, 188); font-size: 12px; font-weight: 700; text-transform: uppercase; background-color: rgb(211, 201, 238);">LINKEDIN
																GROUP</span>/s you created and / or joined.</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
				<main class="elementor-element elementor-element-ce5ea72 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="ce5ea72" data-element_type="section">
					<div class="elementor-container elementor-column-gap-narrow">
						<div class="elementor-row">
							<div class="elementor-element elementor-element-871ab76 elementor-column elementor-col-50 elementor-top-column" data-id="871ab76" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-9fb939a elementor-view-default elementor-widget elementor-widget-icon" data-id="9fb939a" data-element_type="widget" data-widget_type="icon.default">
											<div class="elementor-widget-container">
												<div class="elementor-icon-wrapper">
													<div class="elementor-icon">
														<i aria-hidden="true" class="far fa-building"></i> </div>
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-e491a62 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="e491a62" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text">Connect <b><u>LinkedIn
																	Page</u></b>/s</span>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-29971c6 elementor-align-center elementor-widget elementor-widget-button" data-id="29971c6" data-element_type="widget" data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a href="accounts/import" class="elementor-button-link elementor-button elementor-size-lg elementor-animation-float" target="_blank" role="button">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">connect a page</span>
														</span>
													</a>
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-9f913a5 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="9f913a5" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text">remember the
															followers</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-0e0c857 elementor-column elementor-col-50 elementor-top-column" data-id="0e0c857" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-81d7602 elementor-view-default elementor-widget elementor-widget-icon" data-id="81d7602" data-element_type="widget" data-widget_type="icon.default">
											<div class="elementor-widget-container">
												<div class="elementor-icon-wrapper">
													<div class="elementor-icon">
														<i aria-hidden="true" class="far fa-address-book"></i> </div>
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-ed03688 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="ed03688" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text">Connect <b><u>LinkedIn
																	Group</u></b>/s</span>
													</li>
												</ul>
											</div>
										</div>
										<div class="elementor-element elementor-element-b266c67 elementor-align-center elementor-widget elementor-widget-button" data-id="b266c67" data-element_type="widget" data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a href="accounts/import" class="elementor-button-link elementor-button elementor-size-lg elementor-animation-float" target="_blank" role="button">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">connect a group</span>
														</span>
													</a>
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-e28effa elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="e28effa" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<span class="elementor-icon-list-text">remember the
															members</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>


<script>
    jQuery(document).ready(function($) {

    });
</script>
{% endblock %}
