{% extends "base.html" %}
{% block title %}  Dashboard {% endblock %}
{% load static %}
{% load custom_tags %}


{% block content %}


<div data-elementor-type="single" data-elementor-id="865" class="elementor elementor-865 elementor-location-single post-831 page type-page status-publish hentry" data-elementor-settings="[]">
		<div class="elementor-inner">
			 <div data-elementor-type="single" data-elementor-id="868" class="elementor elementor-868 elementor-location-single post-833 page type-page status-publish hentry" data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">



                <main class="elementor-element elementor-element-0c4dbc4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="0c4dbc4" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-narrow">
                        <div class="elementor-row">

                            {% for post in lists %}


                            <div class="elementor-element elementor-element-f189247 elementor-column elementor-col-50 elementor-top-column" data-id="f189247" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <section class="elementor-element elementor-element-10c1c9d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="10c1c9d" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-109027e elementor-column elementor-col-50 elementor-inner-column" data-id="109027e" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-34ddba6 elementor-widget elementor-widget-image" data-id="34ddba6" data-element_type="widget" data-widget_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <img src="{{ request.user.avatar}}" title="" alt=""> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-36d9be2 elementor-column elementor-col-50 elementor-inner-column" data-id="36d9be2" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-cd14c79 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-left elementor-widget elementor-widget-icon-list" data-id="cd14c79" data-element_type="widget" data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span class="elementor-icon-list-text"> {{ post.title }}   </span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-c07e347 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-left elementor-widget elementor-widget-icon-list" data-id="c07e347" data-element_type="widget" data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span class="elementor-icon-list-icon">
                                                                                    <i aria-hidden="true" class="far fa-id-badge"></i>
                                                                                </span>
                                                                                <span class="elementor-icon-list-text">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                                                                            </li>
                                                                            <li class="elementor-icon-list-item">
                                                                                <span class="elementor-icon-list-text">and</span>
                                                                            </li>
                                                                            <li class="elementor-icon-list-item">
                                                                                <span class="elementor-icon-list-text">48
                                                                                    More</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="elementor-element elementor-element-1a509a2 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="1a509a2" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-6da2dd6 elementor-column elementor-col-100 elementor-inner-column" data-id="6da2dd6" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-250afea elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-left elementor-widget elementor-widget-icon-list" data-id="250afea" data-element_type="widget" data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span class="elementor-icon-list-text">{{ post.content }} </span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="elementor-element elementor-element-8cb0a18 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="8cb0a18" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-2955cf0 elementor-column elementor-col-100 elementor-inner-column" data-id="2955cf0" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-e19cb81 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-left elementor-widget elementor-widget-icon-list" data-id="e19cb81" data-element_type="widget" data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span class="elementor-icon-list-text">{{ post.hashtag }} </span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="elementor-element elementor-element-0c8285e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="0c8285e" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-50801d7 elementor-column elementor-col-100 elementor-inner-column" data-id="50801d7" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-b004c5d elementor-widget elementor-widget-image" data-id="b004c5d" data-element_type="widget" data-widget_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <img src="http://linkedinrepublic.com/wp-content/uploads/elementor/thumbs/updates-affiliate-marketing-ofx9k8jhrh33nm186xi0ro1sz5bks0da8j3h8iwpn4.jpg" title="" alt=""> </div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-d960e67 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-left elementor-widget elementor-widget-icon-list" data-id="d960e67" data-element_type="widget" data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span class="elementor-icon-list-text">
                                                                                    <span style="color: rgb(79, 40, 188); font-size: 12px; font-weight: 700; text-align: center; text-transform: normal; background-color: rgb(211, 201, 238);">
                                                                                    Buy
                                                                                        and sell startups @
                                                                                        bit.ly/7EHGD2O
                                                                                    </span>
                                                                                </span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="elementor-element elementor-element-98d67de elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="98d67de" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-a8c18bd elementor-column elementor-col-100 elementor-inner-column" data-id="a8c18bd" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-470a18e elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-left elementor-widget elementor-widget-icon-list" data-id="470a18e" data-element_type="widget" data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span class="elementor-icon-list-text"> {{ post.frequency }} TIMES </span>
                                                                            </li>
                                                                            <li class="elementor-icon-list-item">
                                                                                <span class="elementor-icon-list-text">{{ post.interval }} DAYS </span>
                                                                            </li>
                                                                            <li class="elementor-icon-list-item">
                                                                                <span class="elementor-icon-list-text">{{ post.time }} </span>
                                                                            </li>
                                                                            <li class="elementor-icon-list-item">
                                                                                <span class="elementor-icon-list-text">     {{  post.time|remaining_time }} left  </span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                                {% if forloop.counter|divisibleby:2 %}

                            		            </div>
											</div>
									</main>
                  <main class="elementor-element elementor-element-0c4dbc4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="0c4dbc4" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-narrow">
                        <div class="elementor-row">
                                {% endif %}
                            {% endfor %}




                         </div>
                    </div>
                </main>


               <main class="elementor-element elementor-element-f808362 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f808362" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-narrow">
                        <div class="elementor-row">
                            <div class="elementor-element elementor-element-fb4294a elementor-column elementor-col-100 elementor-top-column" data-id="fb4294a" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-a7c64f4 elementor-view-default elementor-widget elementor-widget-icon" data-id="a7c64f4" data-element_type="widget" data-widget_type="icon.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-wrapper">
                                                    <div class="elementor-icon">
                                                        <i aria-hidden="true" class="far fa-file-alt"></i> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-994c53f elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="994c53f" data-element_type="widget" data-widget_type="icon-list.default">
                                            <div class="elementor-widget-container">
                                                <ul class="elementor-icon-list-items elementor-inline-items">
                                                    <li class="elementor-icon-list-item">
                                                        <span class="elementor-icon-list-text">Import the <b><u>LinkedIn
                                                                    Updates</u></b> you have scheduled in a CSV
                                                            file.</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-1d4de21 elementor-align-center elementor-widget elementor-widget-button" data-id="1d4de21" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a href="updates/import" class="elementor-button-link elementor-button elementor-size-lg elementor-animation-float" target="_blank" role="button">
                                                        <span class="elementor-button-content-wrapper">
                                                            <span class="elementor-button-text">import</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bc11aeb elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="bc11aeb" data-element_type="widget" data-widget_type="icon-list.default">
                                            <div class="elementor-widget-container">
                                                <ul class="elementor-icon-list-items elementor-inline-items">
                                                    <li class="elementor-icon-list-item">
                                                        <span class="elementor-icon-list-text">mix up your writin'
                                                            style</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
		</div>
	</div>


<script>
    jQuery(document).ready(function($) {

    });
</script>
{% endblock %}
