{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <script>
        (function (html) {
            html.className = html.className.replace(/\bno-js\b/, 'js')
        })(document.documentElement);
    </script>
    <title>{% block title %}{% endblock %}</title>

    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://dashboard.sendbaek.com/login/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Login - Sendbaek" />
    <meta property="og:url" content="https://dashboard.sendbaek.com/login/" />
    <meta property="og:site_name" content="Sendbaek" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Login - Sendbaek" />

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />


    <link rel='stylesheet' id='elementor-icons-css'  href="{% static 'css/elementor-icons.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-common-css' href="{% static 'css/common.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href="{% static 'css/style.min.css' %}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='wp-block-library-theme-css' href="{% static 'css/theme.min.css' %}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='twentyseventeen-fonts-css'
        href='https://fonts.googleapis.com/css?family=Libre+Franklin%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C800%2C800i&#038;subset=latin%2Clatin-ext'
        type='text/css' media='all' />
    <link rel='stylesheet' id='twentyseventeen-style-css' href="{% static 'css/style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='twentyseventeen-style-css' href="{% static 'css/style-ts.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='twentyseventeen-block-style-css' href="{% static 'css/blocks.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-animations-css' href="{% static 'css/animations.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css' href="{% static 'css/frontend.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-pro-css' href="{% static 'css/frontendpro.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-global-css' href="{% static 'css/global.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-global-css' href="{% static 'css/post-444.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-global-css' href="{% static 'css/post-34.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-global-css' href="{% static 'css/post-405.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-global-css' href="{% static 'css/post-556.css' %}" type='text/css' media='all' />

    <link rel='stylesheet' id='elementor-post-390-css' href="{% static 'css/post-390.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-390-css' href="{% static 'css/post-655.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-390-css' href="{% static 'css/post-519.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-1-css'
        href='https://fonts.googleapis.com/css?family=Karla%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.2.3'
        type='text/css' media='all' />
     <link rel='stylesheet' id='elementor-post-390-css' href="{% static 'css/fontawesome.min.css' %}" type='text/css' media='all' />
     <link rel='stylesheet' id='elementor-post-390-css' href="{% static 'css/regular.min.css' %}" type='text/css' media='all' />

    <script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery-migrate.min.js' %}"></script>

    <link rel="icon" href="../images/cropped-logo-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="../images/cropped-logo-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/cropped-logo-1-180x180.png' %}" />
    <meta name="msapplication-TileImage" content="{% static 'images/cropped-logo-1-270x270.png' %}" />

</head>

<body
    class="page-template-default page page-id-403 logged-in wp-custom-logo wp-embed-responsive has-header-image page-two-column colors-light elementor-default elementor-template-full-width elementor-page-603">
 <div data-elementor-type="header" data-elementor-id="444" class="elementor elementor-444 elementor-location-header" data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">

                <header
                    class="elementor-element elementor-element-566f5e8 elementor-section-content-middle elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
                    data-id="566f5e8" data-element_type="section"
                    data-settings="{&quot;sticky&quot;:&quot;top&quot;,&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}">
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-row">
                            <div class="elementor-element elementor-element-1bc3a32 elementor-column elementor-col-33 elementor-top-column"
                                data-id="1bc3a32" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-b9fe11e elementor-widget elementor-widget-theme-site-logo elementor-widget-image"
                                            data-id="b9fe11e" data-element_type="widget"
                                            data-widget_type="theme-site-logo.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <a href="dashboard" data-elementor-open-lightbox="">
                                                        <img width="250" height="250" src="{% static 'images/cropped-logo.png' %}"
                                                            class="attachment-full size-full" alt=""
                                                            srcset="{% static 'images/cropped-logo-100x100.png' %}"
                                                            sizes="100vw" /> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-65e854d elementor-column elementor-col-33 elementor-top-column"
                                data-id="65e854d" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-3355b46 elementor-nav-menu__align-center elementor-nav-menu--dropdown-mobile elementor-nav-menu--stretch elementor-nav-menu__text-align-center elementor-nav-menu--indicator-classic elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu"
                                            data-id="3355b46" data-element_type="widget"
                                            data-settings="{&quot;full_width&quot;:&quot;stretch&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;}"
                                            data-widget_type="nav-menu.default">
                                            <div class="elementor-widget-container">
                                                <nav
                                                    class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
                                                    <ul id="menu-1-3355b46" class="elementor-nav-menu">
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-820">
                                                            <a href="dashboard" class="elementor-item">Dashboard</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-817">
                                                            <a href="connections" class="elementor-item">Connections</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-819">
                                                            <a href="campaigns" class="elementor-item">Campaigns</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-818">
                                                            <a href="messages" class="elementor-item">Messages</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-403 current_page_item menu-item-816">
                                                            <a href="plans" aria-current="page"
                                                                class="elementor-item elementor-item-active">Plans</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                                <div class="elementor-menu-toggle">
                                                    <i class="eicon-menu-bar" aria-hidden="true"></i>
                                                    <span class="elementor-screen-only">Menu</span>
                                                </div>
                                                <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container">
                                                    <ul id="menu-2-3355b46" class="elementor-nav-menu">
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-820">
                                                            <a href="dashboard" class="elementor-item">Dashboard</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-817">
                                                            <a href="connections" class="elementor-item">Connections</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-819">
                                                            <a href="campaigns" class="elementor-item">Campaigns</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-818">
                                                            <a href="messages" class="elementor-item">Messages</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-403 current_page_item menu-item-816">
                                                            <a href="plans" aria-current="page"
                                                                class="elementor-item elementor-item-active">Plans</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-f10f58d elementor-column elementor-col-33 elementor-top-column"
                                data-id="f10f58d" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-2d5d89f elementor-widget elementor-widget-image"
                                            data-id="2d5d89f" data-element_type="widget"
                                            data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <a href="dashboard" data-elementor-open-lightbox="">
                                                        <img width="40" height="40" src="{% static 'images/avatar-40.png' %} "
                                                            class="attachment-full size-full" alt="" sizes="100vw" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

            </div>
        </div>
    </div>

     {% block content %} {% endblock %}

     <div data-elementor-type="footer" data-elementor-id="34" class="elementor elementor-34 elementor-location-footer"
        data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <footer
                    class="elementor-element elementor-element-bfb36de elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
                    data-id="bfb36de" data-element_type="section"
                    data-settings="{&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}">
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-row">
                            <div class="elementor-element elementor-element-313e4e1 elementor-column elementor-col-50 elementor-top-column"
                                data-id="313e4e1" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-65dccd4 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-left elementor-widget elementor-widget-icon-list"
                                            data-id="65dccd4" data-element_type="widget"
                                            data-widget_type="icon-list.default">
                                            <div class="elementor-widget-container">
                                                <ul class="elementor-icon-list-items elementor-inline-items">
                                                    <li class="elementor-icon-list-item">
                                                        <a href="/" target="_blank"> <span
                                                                class="elementor-icon-list-text">© 2019
                                                                <strong>Sendbaek</strong>, Inc.</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-694abbb elementor-column elementor-col-50 elementor-top-column"
                                data-id="694abbb" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-6b19930 elementor-icon-list--layout-inline elementor-align-right elementor-mobile-align-right elementor-widget elementor-widget-icon-list"
                                            data-id="6b19930" data-element_type="widget"
                                            data-widget_type="icon-list.default">
                                            <div class="elementor-widget-container">
                                                <ul class="elementor-icon-list-items elementor-inline-items">
                                                    <li class="elementor-icon-list-item">
                                                        <a href="http://sendbaek.com/" target="_blank"> <span
                                                                class="elementor-icon-list-text">ABOUT</span>
                                                        </a>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <a href="http://sendbaek.com/" target="_blank"> <span
                                                                class="elementor-icon-list-text">SUPPORT</span>
                                                        </a>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <a href="logout" target="_blank"> <span
                                                                class="elementor-icon-list-text">LOGOUT</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script type='text/javascript' src="{% static 'js/skip-link-focus-fix.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/global.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.scrollTo.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/core.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/widget.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/mouse.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/draggable.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/underscore.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/backbone.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/backbone.marionette.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/backbone.radio.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/commonmodules.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/position.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/dialog.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/commonmin.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/wp-embed.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/frontend-modules.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.sticky.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/frontend.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/waypoints.min.js' %}"> </script>
    <script type='text/javascript' src="{% static 'js/swiper.min.js' %}"> </script>
    <script type='text/javascript' src="{% static 'js/frontend.min.js' %}" > </script>

{% block footer %}

{% endblock %}
</body>

</html>