{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <script>
        (function (html) {
            html.className = html.className.replace(/\bno-js\b/, 'js')
        })(document.documentElement);
    </script>
    <title>{% block title %}{% endblock %}</title>

    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://dashboard.sendbaek.com/login/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Login - Sendbaek" />
    <meta property="og:url" content="https://dashboard.sendbaek.com/login/" />
    <meta property="og:site_name" content="Sendbaek" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Login - Sendbaek" />

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />


    <link rel='stylesheet' id='elementor-icons-css'  href="{% static 'css/elementor-icons.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-common-css' href="{% static 'css/common.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href="{% static 'css/style.min.css' %}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='wp-block-library-theme-css' href="{% static 'css/theme.min.css' %}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='twentyseventeen-fonts-css'
        href='https://fonts.googleapis.com/css?family=Libre+Franklin%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C800%2C800i&#038;subset=latin%2Clatin-ext'
        type='text/css' media='all' />
    <link rel='stylesheet' id='twentyseventeen-style-css' href="{% static 'css/style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet'  href="{% static 'css/style-ts.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='twentyseventeen-block-style-css' href="{% static 'css/blocks.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-animations-css' href="{% static 'css/animations.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css' href="{% static 'css/frontend.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-pro-css' href="{% static 'css/frontendpro.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet'   href="{% static 'css/global.css' %}" type='text/css' media='all' />
    <link rel='stylesheet'  href="{% static 'css/post-444.css' %}" type='text/css' media='all' />
    <link rel='stylesheet'   href="{% static 'css/post-34.css' %}" type='text/css' media='all' />
    <link rel='stylesheet'  href="{% static 'css/post-405.css' %}" type='text/css' media='all' />
    <link rel='stylesheet'   href="{% static 'css/post-556.css' %}" type='text/css' media='all' />

    <link rel='stylesheet' id='elementor-post-390-css' href="{% static 'css/post-390.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-655-css' href="{% static 'css/post-655.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-519-css' href="{% static 'css/post-519.css' %}" type='text/css' media='all' />

    <!-- accounts page -->
    <link rel='stylesheet' id='elementor-post-865-css' href="{% static 'css/post-865.css' %}" type='text/css' media='all' />

    <!-- Header css -->
    <link rel='stylesheet' id='elementor-post-852-css' href="{% static 'css/post-852.css' %}" type='text/css' media='all' />
    <!-- Footercss -->
    <link rel='stylesheet' id='elementor-post-854-css' href="{% static 'css/post-854.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-854-css' href="{% static 'css/post-868.css' %}" type='text/css' media='all' />

    <link rel='stylesheet' id='google-fonts-1-css'
        href='https://fonts.googleapis.com/css?family=Karla%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.2.3'
        type='text/css' media='all' />
     <link rel='stylesheet'  href="{% static 'css/fontawesome.min.css' %}" type='text/css' media='all' />
     <link rel='stylesheet'  href="{% static 'css/regular.min.css' %}" type='text/css' media='all' />

    <script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery-migrate.min.js' %}"></script>

    <link rel="icon" href="../images/cropped-logo-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="../images/cropped-logo-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/cropped-logo-1-180x180.png' %}" />
    <meta name="msapplication-TileImage" content="{% static 'images/cropped-logo-1-270x270.png' %}" />

</head>

<body
    class="page-template-default page page-id-403 logged-in wp-custom-logo wp-embed-responsive has-header-image page-two-column colors-light elementor-default elementor-template-full-width elementor-page-603">


 <div data-elementor-type="header" data-elementor-id="852" class="elementor elementor-852 elementor-location-header" data-elementor-settings="[]">
		<div class="elementor-inner">
			<div class="elementor-section-wrap">
				<header class="elementor-element elementor-element-7a5b0b0 elementor-section-content-middle elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section elementor-sticky elementor-sticky--effects elementor-sticky--active elementor-section--handles-inside" data-id="7a5b0b0" data-element_type="section" data-settings="{&quot;sticky&quot;:&quot;top&quot;,&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}" style="position: fixed; width: 100%; margin-top: 0px; margin-bottom: 0px; top: 0px;">
					<div class="elementor-container elementor-column-gap-no">
						<div class="elementor-row">
							<div class="elementor-element elementor-element-4f260b4 elementor-column elementor-col-33 elementor-top-column" data-id="4f260b4" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-2a6b704 elementor-widget elementor-widget-image" data-id="2a6b704" data-element_type="widget" data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<a href="dashboard" data-elementor-open-lightbox="">
														<img width="32" height="32" src="http://linkedinrepublic.com/wp-content/uploads/2019/10/header-logo.png" class="attachment-large size-large" alt="" sizes="100vw">
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-909d26e elementor-column elementor-col-33 elementor-top-column" data-id="909d26e" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-41592af elementor-nav-menu__align-center elementor-nav-menu--dropdown-mobile elementor-nav-menu--stretch elementor-nav-menu__text-align-center elementor-nav-menu--indicator-classic elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="41592af" data-element_type="widget" data-settings="{&quot;full_width&quot;:&quot;stretch&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
											<div class="elementor-widget-container">
												<nav class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
													<ul id="menu-1-41592af" class="elementor-nav-menu" data-smartmenus-id="15725239645942432">
														<li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-page-parent menu-item-1568">
															<a href="dashboard" class="elementor-item">Dashboard</a></li>
														<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-831 current_page_item menu-item-1573">
															<a href="/accounts" aria-current="page" class="elementor-item elementor-item-active">Accounts {{ current_page|request }}</a>
														</li>
														<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1572">
															<a href="/updates" class="elementor-item">Updates</a></li>
														<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1571">
															<a href="/messages" class="elementor-item">Metrics</a></li>
														<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1570">
															<a href="/plans" class="elementor-item">Plans</a></li>
													</ul>
												</nav>
												<div class="elementor-menu-toggle" style="">
													<i class="eicon-menu-bar" aria-hidden="true"></i>
													<span class="elementor-screen-only">Menu</span>
												</div>
												<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" style="top: 60px; width: 100%; left: 0px;">
													<ul id="menu-2-41592af" class="elementor-nav-menu" data-smartmenus-id="15725239645982217">
														<li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-page-parent menu-item-1568">
															<a href="dashboard" class="elementor-item">Dashboard</a></li>
														<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-831 current_page_item menu-item-1573">
															<a href="/accounts" aria-current="page" class="elementor-item elementor-item-active">Accounts</a>
														</li>
														<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1572">
															<a href="/updates/" class="elementor-item">Updates</a></li>
														<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1571">
															<a href="/messages" class="elementor-item">Metrics</a></li>
														<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1570">
															<a href="/plans/" class="elementor-item">Plans</a></li>
													</ul>
												</nav>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-ef88b47 elementor-column elementor-col-33 elementor-top-column" data-id="ef88b47" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-a650ec9 elementor-widget elementor-widget-image" data-id="a650ec9" data-element_type="widget" data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<a href="/members/" data-elementor-open-lightbox="">
														 {% if avatar  %}
                                                                 <img width="40" height="40" src="{{ avatar }} "
                                                            class="attachment-full size-full" alt="" sizes="100vw" />
                                                        {% else %}
                                                                     <img width="40" height="40" src="{% static 'images/avatar-40.png' %}"
                                                            class="attachment-full size-full" alt="" sizes="100vw" />
                                                        {% endif %}
													 </a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>

           </div>
		</div>
	</div>
     {% block content %} {% endblock %}

    <div data-elementor-type="footer" data-elementor-id="854" class="elementor elementor-854 elementor-location-footer" data-elementor-settings="[]">
		<div class="elementor-inner">
			<div class="elementor-section-wrap">
				<header class="elementor-element elementor-element-f22e69c elementor-section-content-middle elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section elementor-sticky elementor-sticky--effects elementor-sticky--active elementor-section--handles-inside" data-id="f22e69c" data-element_type="section" data-settings="{&quot;sticky&quot;:&quot;bottom&quot;,&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}" style="position: fixed; width: 100%; margin-top: 0px; margin-bottom: 0px; bottom: 0px;">
					<div class="elementor-container elementor-column-gap-no">
						<div class="elementor-row">
							<div class="elementor-element elementor-element-45b57b0 elementor-column elementor-col-50 elementor-top-column" data-id="45b57b0" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-fb46d79 elementor-icon-list--layout-inline elementor-mobile-align-left elementor-widget elementor-widget-icon-list" data-id="fb46d79" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<a href="dashboard" target="_blank"> <span class="elementor-icon-list-text">© 2019
																<strong>linkedinrepublic</strong>, inc.</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-d1abfad elementor-column elementor-col-50 elementor-top-column" data-id="d1abfad" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-1b09326 elementor-icon-list--layout-inline elementor-align-right elementor-mobile-align-right elementor-widget elementor-widget-icon-list" data-id="1b09326" data-element_type="widget" data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items elementor-inline-items">
													<li class="elementor-icon-list-item">
														<a href="#" target="_blank"> <span class="elementor-icon-list-text">about</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a href="logout" > <span class="elementor-icon-list-text">logout</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
            </div>
		</div>
	</div>

    <script type='text/javascript' src="{% static 'js/skip-link-focus-fix.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/global.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.scrollTo.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/core.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/widget.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/mouse.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/draggable.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/underscore.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/backbone.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/backbone.marionette.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/backbone.radio.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/commonmodules.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/position.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/dialog.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/commonmin.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/wp-embed.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/frontend-modules.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.sticky.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/frontend.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/waypoints.min.js' %}"> </script>
    <script type='text/javascript' src="{% static 'js/swiper.min.js' %}"> </script>
    <script type='text/javascript' src="{% static 'js/frontend.min.js' %}" > </script>

{% block footer %}

{% endblock %}
</body>

</html>