{% extends "base.html" %}
{% block title %}  Connections {% endblock %}
{% load static %}
{% block content %}

<div data-elementor-type="single" data-elementor-id="556"
		class="elementor elementor-556 elementor-location-single post-401 page type-page status-publish hentry"
		data-elementor-settings="[]">
		<div class="elementor-inner">
			<div class="elementor-section-wrap">
				<main
					class="elementor-element elementor-element-8fba346 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
					data-id="8fba346" data-element_type="section">
					<div class="elementor-container elementor-column-gap-narrow">
						<div class="elementor-row">
							<div class="elementor-element elementor-element-5fcdefb elementor-column elementor-col-33 elementor-top-column"
								data-id="5fcdefb" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-4e88ee4 elementor-widget elementor-widget-image"
											data-id="4e88ee4" data-element_type="widget"
											data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<img src="{% static 'images/avatar-60.png' %}" title="avatar" alt="avatar" />
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-9dbb48c elementor-widget elementor-widget-heading"
											data-id="9dbb48c" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h4 class="elementor-heading-title elementor-size-small">Banjo De Kings
												</h4>
											</div>
										</div>
										<div class="elementor-element elementor-element-47da3a1 elementor-widget elementor-widget-heading"
											data-id="47da3a1" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h6 class="elementor-heading-title elementor-size-small">Product Manager
												</h6>
											</div>
										</div>
										<div class="elementor-element elementor-element-6d3706a elementor-widget elementor-widget-heading"
											data-id="6d3706a" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<p class="elementor-heading-title elementor-size-small">Sendbaek, Inc.
												</p>
											</div>
										</div>
										<div class="elementor-element elementor-element-16f30f2 elementor-align-center elementor-widget elementor-widget-button"
											data-id="16f30f2" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a href="/"
														class="elementor-button-link elementor-button elementor-size-sm"
														role="button">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">INVITE</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-6e6a058 elementor-column elementor-col-33 elementor-top-column"
								data-id="6e6a058" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-915869b elementor-widget elementor-widget-image"
											data-id="915869b" data-element_type="widget"
											data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<img src="{% static 'images/avatar-60.png' %}" title="avatar" alt="avatar" />
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-4ece336 elementor-widget elementor-widget-heading"
											data-id="4ece336" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h4 class="elementor-heading-title elementor-size-small">Banjo De Kings
												</h4>
											</div>
										</div>
										<div class="elementor-element elementor-element-e469d47 elementor-widget elementor-widget-heading"
											data-id="e469d47" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h6 class="elementor-heading-title elementor-size-small">Product Manager
												</h6>
											</div>
										</div>
										<div class="elementor-element elementor-element-c71f96d elementor-widget elementor-widget-heading"
											data-id="c71f96d" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<p class="elementor-heading-title elementor-size-small">Sendbaek, Inc.
												</p>
											</div>
										</div>
										<div class="elementor-element elementor-element-faa12db elementor-align-center elementor-widget elementor-widget-button"
											data-id="faa12db" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a href="/"
														class="elementor-button-link elementor-button elementor-size-sm"
														role="button">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">INVITE</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-f44d826 elementor-column elementor-col-33 elementor-top-column"
								data-id="f44d826" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-9c53e93 elementor-widget elementor-widget-image"
											data-id="9c53e93" data-element_type="widget"
											data-widget_type="image.default">
											<div class="elementor-widget-container">
												<div class="elementor-image">
													<img src="{% static 'images/avatar-60.png' %}" title="avatar" alt="avatar" />
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-4fc8cc4 elementor-widget elementor-widget-heading"
											data-id="4fc8cc4" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h4 class="elementor-heading-title elementor-size-small">Banjo De Kings
												</h4>
											</div>
										</div>
										<div class="elementor-element elementor-element-afd790f elementor-widget elementor-widget-heading"
											data-id="afd790f" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h6 class="elementor-heading-title elementor-size-small">Product Manager
												</h6>
											</div>
										</div>
										<div class="elementor-element elementor-element-7b75f53 elementor-widget elementor-widget-heading"
											data-id="7b75f53" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<p class="elementor-heading-title elementor-size-small">Sendbaek, Inc.
												</p>
											</div>
										</div>
										<div class="elementor-element elementor-element-8a8214b elementor-align-center elementor-widget elementor-widget-button"
											data-id="8a8214b" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a href="/"
														class="elementor-button-link elementor-button elementor-size-sm"
														role="button">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">INVITE</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-row">
						<button type="submit" class="elementor-button elementor-size-sm elementor-animation-float updatec_onnections">
                               <span>
                                    <span class=" elementor-button-icon"> </span>
                                     <span class="elementor-button-text"> Update Connections </span>
							   </span>
                         </button>
					</div>
				</main>

			</div>
		</div>
	</div>


{% endblock %}
{% block footer %}

<script>
    jQuery(document).ready(function($) {

    });
</script>
{% endblock %}