{% extends "base.html" %}
{% block title %}  Dashboard {% endblock %}
{% load static %}
{% block content %}

	<div data-elementor-type="single" data-elementor-id="405"
		class="elementor elementor-405 elementor-location-single post-395 page type-page status-publish hentry"
		data-elementor-settings="[]">
		<div class="elementor-inner">
			<div class="elementor-section-wrap">
				<main
					class="elementor-element elementor-element-63cd510 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
					data-id="63cd510" data-element_type="section">
					<div class="elementor-container elementor-column-gap-narrow">
						<div class="elementor-row">
							<div class="elementor-element elementor-element-5bd59dc elementor-column elementor-col-50 elementor-top-column"
								data-id="5bd59dc" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-a16b34f elementor-widget elementor-widget-heading"
											data-id="a16b34f" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h2 class="elementor-heading-title elementor-size-default">98%</h2>
											</div>
										</div>
										<div class="elementor-element elementor-element-9f6f06f elementor-align-center elementor-widget elementor-widget-button"
											data-id="9f6f06f" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-size-sm" role="button">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">sends</span>
														</span>
													</a>
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-f5a444d elementor-widget elementor-widget-heading"
											data-id="f5a444d" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h3 class="elementor-heading-title elementor-size-default">48,938</h3>
											</div>
										</div>
										<div class="elementor-element elementor-element-c3eed4a elementor-widget elementor-widget-heading"
											data-id="c3eed4a" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h4 class="elementor-heading-title elementor-size-default">total sends
												</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-6b6ac29 elementor-column elementor-col-50 elementor-top-column"
								data-id="6b6ac29" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-de4e0ae elementor-widget elementor-widget-heading"
											data-id="de4e0ae" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h2 class="elementor-heading-title elementor-size-default">98%</h2>
											</div>
										</div>
										<div class="elementor-element elementor-element-361da32 elementor-align-center elementor-widget elementor-widget-button"
											data-id="361da32" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-size-sm" role="button">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">opens</span>
														</span>
													</a>
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-06baa1a elementor-widget elementor-widget-heading"
											data-id="06baa1a" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h3 class="elementor-heading-title elementor-size-default">48,938</h3>
											</div>
										</div>
										<div class="elementor-element elementor-element-433d8a0 elementor-widget elementor-widget-heading"
											data-id="433d8a0" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h4 class="elementor-heading-title elementor-size-default">total sends
												</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-f8a4fb0 elementor-column elementor-col-50 elementor-top-column"
								data-id="f8a4fb0" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-3ed070e elementor-widget elementor-widget-heading"
											data-id="3ed070e" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h2 class="elementor-heading-title elementor-size-default">98%</h2>
											</div>
										</div>
										<div class="elementor-element elementor-element-80ff27a elementor-align-center elementor-widget elementor-widget-button"
											data-id="80ff27a" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-size-sm" role="button">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">clicks</span>
														</span>
													</a>
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-ef865fa elementor-widget elementor-widget-heading"
											data-id="ef865fa" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h3 class="elementor-heading-title elementor-size-default">48,938</h3>
											</div>
										</div>
										<div class="elementor-element elementor-element-af63efe elementor-widget elementor-widget-heading"
											data-id="af63efe" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h4 class="elementor-heading-title elementor-size-default">total sends
												</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>




{% endblock %}
{% block footer %}
<script>
    jQuery(document).ready(function($) {

    });
</script>
{% endblock %}