
{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <script>
        (function (html) {
            html.className = html.className.replace(/\bno-js\b/, 'js')
        })(document.documentElement);
    </script>
    <title>Logout</title>

    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://dashboard.sendbaek.com/login/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Login - Sendbaek" />
    <meta property="og:url" content="https://dashboard.sendbaek.com/login/" />
    <meta property="og:site_name" content="Sendbaek" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Login - Sendbaek" />

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />


    <link rel='stylesheet' id='elementor-icons-css'  href="{% static 'css/elementor-icons.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-common-css' href="{% static 'css/common.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href="{% static 'css/style.min.css' %}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='wp-block-library-theme-css' href="{% static 'css/theme.min.css' %}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='twentyseventeen-fonts-css'
        href='https://fonts.googleapis.com/css?family=Libre+Franklin%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C800%2C800i&#038;subset=latin%2Clatin-ext'
        type='text/css' media='all' />
    <link rel='stylesheet' id='twentyseventeen-style-css' href="{% static 'css/style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='twentyseventeen-style-css' href="{% static 'css/style-ts.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='twentyseventeen-block-style-css' href="{% static 'css/blocks.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-animations-css' href="{% static 'css/animations.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css' href="{% static 'css/frontend.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-pro-css' href="{% static 'css/frontendpro.min.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-global-css' href="{% static 'css/global.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-390-css' href="{% static 'css/post-706.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-1-css'
        href='https://fonts.googleapis.com/css?family=Karla%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.2.3'
        type='text/css' media='all' />
     <link rel='stylesheet' id='elementor-post-390-css' href="{% static 'css/fontawesome.min.css' %}" type='text/css' media='all' />
     <link rel='stylesheet' id='elementor-post-390-css' href="{% static 'css/regular.min.css' %}" type='text/css' media='all' />

    <script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery-migrate.min.js' %}"></script>

    <link rel="icon" href="../images/cropped-logo-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="../images/cropped-logo-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/cropped-logo-1-180x180.png' %}" />
    <meta name="msapplication-TileImage" content="{% static 'images/cropped-logo-1-270x270.png' %}" />

</head>

<body
    class="page-template-default page page-id-403 logged-in wp-custom-logo wp-embed-responsive has-header-image page-two-column colors-light elementor-default elementor-template-full-width elementor-page-603">


<div data-elementor-type="single" data-elementor-id="706"
        class="elementor elementor-706 elementor-location-single post-704 page type-page status-publish hentry"
        data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <main
                    class="elementor-element elementor-element-bb23d23 elementor-section-height-full elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
                    data-id="bb23d23" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-element elementor-element-a2d85c3 elementor-column elementor-col-100 elementor-top-column"
                                data-id="a2d85c3" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-4c6ac5e elementor-widget elementor-widget-heading"
                                            data-id="4c6ac5e" data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default"><a
                                                        href="/connections/" target="_blank">Hey, <strong>[FName]</strong>!
                                                        I personally thank you for usin' <strong>Sendbaek</strong>, now
                                                        it's time to tell your <em>LinkedIn Connections</em>.
                                                        <strong>Invite 10 TODAY</strong> and use Sendbaek for
                                                        <strong>FREE</strong>!</a></h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-63c633c elementor-align-center elementor-widget elementor-widget-button"
                                            data-id="63c633c" data-element_type="widget"
                                            data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a href="/connections/"
                                                        class="elementor-button-link elementor-button elementor-size-xl elementor-animation-float"
                                                        target="_blank" role="button">
                                                        <span class="elementor-button-content-wrapper">
                                                            <span class="elementor-button-text">INVITE YOUR
                                                                CONNECTIONS</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-1cd2ef2 elementor-widget elementor-widget-image"
                                            data-id="1cd2ef2" data-element_type="widget"
                                            data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <img src="{% static 'images/banjo.png' %}" title="avatar" alt="avatar" /> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-080c4f0 elementor-widget elementor-widget-heading"
                                            data-id="080c4f0" data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h6 class="elementor-heading-title elementor-size-small">Banjo De Kings
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-033c902 elementor-widget elementor-widget-heading"
                                            data-id="033c902" data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <p class="elementor-heading-title elementor-size-small">Founder @
                                                    Sendbaek</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
 <script type='text/javascript' src="{% static 'js/skip-link-focus-fix.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/global.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.scrollTo.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/core.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/widget.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/mouse.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/draggable.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/underscore.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/backbone.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/backbone.marionette.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/backbone.radio.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/commonmodules.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/position.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/dialog.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/commonmin.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/wp-embed.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/frontend-modules.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.sticky.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/frontend.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/waypoints.min.js' %}"> </script>
    <script type='text/javascript' src="{% static 'js/swiper.min.js' %}"> </script>
    <script type='text/javascript' src="{% static 'js/frontend.min.js' %}" > </script>

{% block footer %}

{% endblock %}
</body>

</html>