{% extends "base.html" %}
{% block title %}  Messages  {% endblock %}
{% load static %}
{% block content %}

<div data-elementor-type="single" data-elementor-id="519"
        class="elementor elementor-519 elementor-location-single post-399 page type-page status-publish hentry"
        data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <main
                    class="elementor-element elementor-element-31a06f1 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
                    data-id="31a06f1" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-element elementor-element-c88e2c9 elementor-column elementor-col-100 elementor-top-column"
                                data-id="c88e2c9" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-66852ca elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-inner-section"
                                            data-id="66852ca" data-element_type="section"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-c3d29fe elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="c3d29fe" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-fed17eb elementor-widget elementor-widget-image"
                                                                    data-id="fed17eb" data-element_type="widget"
                                                                    data-widget_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <img src="{% static 'images/avatar-32.png' %}"
                                                                                title="avatar" alt="avatar" /> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-a72e7d3 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="a72e7d3" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-5ad0e80 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="5ad0e80" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">Banjo
                                                                                    De Kings</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-29e5c5a elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="29e5c5a" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-75ffca0 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="75ffca0" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">Meet
                                                                                    Us @ LONDON2020</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-bfc205c elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="bfc205c" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-ab7e6ec elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="ab7e6ec" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">October
                                                                                    10, 2019</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-1fd1acb elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="1fd1acb" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-eed32c5 elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-button"
                                                                    data-id="eed32c5" data-element_type="widget"
                                                                    data-widget_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a class="elementor-button elementor-size-sm"
                                                                                role="button">
                                                                                <span
                                                                                    class="elementor-button-content-wrapper">
                                                                                    <span
                                                                                        class="elementor-button-text">sent</span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-198171a elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-inner-section"
                                            data-id="198171a" data-element_type="section"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-8eae2f1 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="8eae2f1" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-f39608c elementor-widget elementor-widget-image"
                                                                    data-id="f39608c" data-element_type="widget"
                                                                    data-widget_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <img src="{% static 'images/avatar-32.png' %}"
                                                                                title="avatar" alt="avatar" /> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-bd295f8 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="bd295f8" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-002d0e9 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="002d0e9" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">Banjo
                                                                                    De Kings</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-5391b1d elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="5391b1d" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-eacd6bf elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="eacd6bf" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">Meet
                                                                                    Us @ LONDON2020</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-826bc1f elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="826bc1f" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-2546f61 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="2546f61" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">October
                                                                                    10, 2019</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-f4e59e5 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="f4e59e5" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-8bee080 elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-button"
                                                                    data-id="8bee080" data-element_type="widget"
                                                                    data-widget_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a class="elementor-button elementor-size-sm"
                                                                                role="button">
                                                                                <span
                                                                                    class="elementor-button-content-wrapper">
                                                                                    <span
                                                                                        class="elementor-button-text">opened</span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5c85d59 elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-inner-section"
                                            data-id="5c85d59" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-7d66824 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="7d66824" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-f631bda elementor-widget elementor-widget-image"
                                                                    data-id="f631bda" data-element_type="widget"
                                                                    data-widget_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <img src="{% static 'images/avatar-32.png' %}"
                                                                                title="avatar" alt="avatar" /> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-cbb6608 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="cbb6608" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-069c187 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="069c187" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">Banjo
                                                                                    De Kings</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-bb2e44e elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="bb2e44e" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-ccaf602 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="ccaf602" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">Meet
                                                                                    Us @ PARIS2020</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-9e01d39 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="9e01d39" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-d699e37 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="d699e37" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">December
                                                                                    10, 2019</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-6160578 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="6160578" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-e69f62f elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-button"
                                                                    data-id="e69f62f" data-element_type="widget"
                                                                    data-widget_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a class="elementor-button elementor-size-sm"
                                                                                role="button">
                                                                                <span
                                                                                    class="elementor-button-content-wrapper">
                                                                                    <span
                                                                                        class="elementor-button-text">scheduled</span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-def79dc elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-inner-section"
                                            data-id="def79dc" data-element_type="section"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-ac736e5 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="ac736e5" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-65c3102 elementor-widget elementor-widget-image"
                                                                    data-id="65c3102" data-element_type="widget"
                                                                    data-widget_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <img src="{% static 'images/avatar-32.png' %}"
                                                                                title="avatar" alt="avatar" /> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-957164b elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="957164b" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-ced93e7 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="ced93e7" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">Banjo
                                                                                    De Kings</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-3852d4c elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="3852d4c" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-75217d3 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="75217d3" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">Meet
                                                                                    Us @ LONDON2020</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-a6656d0 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="a6656d0" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-506fc47 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="506fc47" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">October
                                                                                    10, 2019</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-971a044 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="971a044" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-6594108 elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-button"
                                                                    data-id="6594108" data-element_type="widget"
                                                                    data-widget_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a class="elementor-button elementor-size-sm"
                                                                                role="button">
                                                                                <span
                                                                                    class="elementor-button-content-wrapper">
                                                                                    <span
                                                                                        class="elementor-button-text">clicked</span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-e8fe76d elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-inner-section"
                                            data-id="e8fe76d" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-d13ecf0 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="d13ecf0" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-ae3c712 elementor-widget elementor-widget-image"
                                                                    data-id="ae3c712" data-element_type="widget"
                                                                    data-widget_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <img src="{% static 'images/avatar-32.png' %}"
                                                                                title="avatar" alt="avatar" /> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-9f59efc elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="9f59efc" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-8b109f7 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="8b109f7" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">Banjo
                                                                                    De Kings</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-5e50f29 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="5e50f29" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-748d5e6 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="748d5e6" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">Meet
                                                                                    Us @ LONDON2020</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-4444750 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="4444750" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-e573ea5 elementor-icon-list--layout-inline elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-icon-list"
                                                                    data-id="e573ea5" data-element_type="widget"
                                                                    data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul
                                                                            class="elementor-icon-list-items elementor-inline-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span
                                                                                    class="elementor-icon-list-text">October
                                                                                    10, 2019</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7de1570 elementor-column elementor-col-20 elementor-inner-column"
                                                        data-id="7de1570" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-702c1bc elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-button"
                                                                    data-id="702c1bc" data-element_type="widget"
                                                                    data-widget_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a class="elementor-button elementor-size-sm"
                                                                                role="button">
                                                                                <span
                                                                                    class="elementor-button-content-wrapper">
                                                                                    <span
                                                                                        class="elementor-button-text">opened</span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>


{% endblock %}
{% block footer %}

<script>
    jQuery(document).ready(function($) {

    });
</script>
{% endblock %}