{% extends "base.html" %}
{% block title %}  Plans {% endblock %}
{% load static %}
{% block content %}

    <div data-elementor-type="single" data-elementor-id="603"
        class="elementor elementor-603 elementor-location-single post-403 page type-page status-publish hentry"
        data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <section
                    class="elementor-element elementor-element-1ef6ef9 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
                    data-id="1ef6ef9" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-element elementor-element-f0604bb elementor-column elementor-col-33 elementor-top-column"
                                data-id="f0604bb" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-c0d39a3 elementor-widget elementor-widget-price-table"
                                            data-id="c0d39a3" data-element_type="widget"
                                            data-widget_type="price-table.default">
                                            <div class="elementor-widget-container">

                                                <div class="elementor-price-table">
                                                    <div class="elementor-price-table__header">
                                                        <h3 class="elementor-price-table__heading">standard</h3>

                                                        <span class="elementor-price-table__subheading">up to 2,000
                                                            connections</span>
                                                    </div>

                                                    <div class="elementor-price-table__price">
                                                        <span
                                                            class="elementor-price-table__currency elementor-currency--before">&#36;</span>
                                                        <span class="elementor-price-table__integer-part">49</span>

                                                        <div class="elementor-price-table__after-price">
                                                            <span
                                                                class="elementor-price-table__fractional-part">99</span>

                                                            <span
                                                                class="elementor-price-table__period elementor-typo-excluded">/
                                                                mo.</span> </div>


                                                    </div>

                                                    <ul class="elementor-price-table__features-list">
                                                        <li class="elementor-repeater-item-b5a44ed">
                                                            <div class="elementor-price-table__feature-inner">
                                                                <i class="" aria-hidden="true"></i>
                                                                <span>
                                                                    import 2,000 connections </span>
                                                            </div>
                                                        </li>
                                                        <li class="elementor-repeater-item-bae6409">
                                                            <div class="elementor-price-table__feature-inner">
                                                                <i class="" aria-hidden="true"></i>
                                                                <span>
                                                                    schedule 0 campaigns </span>
                                                            </div>
                                                        </li>
                                                        <li class="elementor-repeater-item-c9d28ef">
                                                            <div class="elementor-price-table__feature-inner">
                                                                <i class="" aria-hidden="true"></i>
                                                                <span>
                                                                    send 8,000 messages </span>
                                                            </div>
                                                        </li>
                                                    </ul>

                                                    <div class="elementor-price-table__footer">
                                                        <a class="elementor-price-table__button elementor-button elementor-size-sm elementor-animation-float"
                                                            href="/">CURRENT</a>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-228e8dc elementor-column elementor-col-33 elementor-top-column"
                                data-id="228e8dc" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-19ad680 elementor-widget elementor-widget-price-table"
                                            data-id="19ad680" data-element_type="widget"
                                            data-widget_type="price-table.default">
                                            <div class="elementor-widget-container">

                                                <div class="elementor-price-table">
                                                    <div class="elementor-price-table__header">
                                                        <h3 class="elementor-price-table__heading">elite</h3>

                                                        <span class="elementor-price-table__subheading">up to 4,000
                                                            connections</span>
                                                    </div>

                                                    <div class="elementor-price-table__price">
                                                        <span
                                                            class="elementor-price-table__currency elementor-currency--before">&#36;</span>
                                                        <span class="elementor-price-table__integer-part">69</span>

                                                        <div class="elementor-price-table__after-price">
                                                            <span
                                                                class="elementor-price-table__fractional-part">99</span>

                                                            <span
                                                                class="elementor-price-table__period elementor-typo-excluded">/
                                                                mo.</span> </div>


                                                    </div>

                                                    <ul class="elementor-price-table__features-list">
                                                        <li class="elementor-repeater-item-cd4dcf3">
                                                            <div class="elementor-price-table__feature-inner">
                                                                <i class="" aria-hidden="true"></i>
                                                                <span>
                                                                    import 4,000 connections </span>
                                                            </div>
                                                        </li>
                                                        <li class="elementor-repeater-item-642d693">
                                                            <div class="elementor-price-table__feature-inner">
                                                                <i class="" aria-hidden="true"></i>
                                                                <span>
                                                                    schedule 4 campaigns </span>
                                                            </div>
                                                        </li>
                                                        <li class="elementor-repeater-item-08d1094">
                                                            <div class="elementor-price-table__feature-inner">
                                                                <i class="" aria-hidden="true"></i>
                                                                <span>
                                                                    send 16,000 messages </span>
                                                            </div>
                                                        </li>
                                                    </ul>

                                                    <div class="elementor-price-table__footer">
                                                        <a class="elementor-price-table__button elementor-button elementor-size-sm elementor-animation-float"
                                                            href="/">UPGRADE</a>

                                                    </div>
                                                </div>

                                                <div class="elementor-price-table__ribbon elementor-ribbon-right">
                                                    <div class="elementor-price-table__ribbon-inner">Popular</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-f363044 elementor-column elementor-col-33 elementor-top-column"
                                data-id="f363044" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-e90cfd2 elementor-widget elementor-widget-price-table"
                                            data-id="e90cfd2" data-element_type="widget"
                                            data-widget_type="price-table.default">
                                            <div class="elementor-widget-container">

                                                <div class="elementor-price-table">
                                                    <div class="elementor-price-table__header">
                                                        <h3 class="elementor-price-table__heading">influencer</h3>

                                                        <span class="elementor-price-table__subheading">up to 8,000
                                                            connections</span>
                                                    </div>

                                                    <div class="elementor-price-table__price">
                                                        <span
                                                            class="elementor-price-table__currency elementor-currency--before">&#36;</span>
                                                        <span class="elementor-price-table__integer-part">99</span>

                                                        <div class="elementor-price-table__after-price">
                                                            <span
                                                                class="elementor-price-table__fractional-part">99</span>

                                                            <span
                                                                class="elementor-price-table__period elementor-typo-excluded">/
                                                                mo.</span> </div>


                                                    </div>

                                                    <ul class="elementor-price-table__features-list">
                                                        <li class="elementor-repeater-item-2ae6517">
                                                            <div class="elementor-price-table__feature-inner">
                                                                <i class="" aria-hidden="true"></i>
                                                                <span>
                                                                    import 8,000 connections </span>
                                                            </div>
                                                        </li>
                                                        <li class="elementor-repeater-item-d6dc90f">
                                                            <div class="elementor-price-table__feature-inner">
                                                                <i class="" aria-hidden="true"></i>
                                                                <span>
                                                                    schedule 4 campaigns </span>
                                                            </div>
                                                        </li>
                                                        <li class="elementor-repeater-item-180a52c">
                                                            <div class="elementor-price-table__feature-inner">
                                                                <i class="" aria-hidden="true"></i>
                                                                <span>
                                                                    send 32,000 messages </span>
                                                            </div>
                                                        </li>
                                                    </ul>

                                                    <div class="elementor-price-table__footer">
                                                        <a class="elementor-price-table__button elementor-button elementor-size-sm elementor-animation-float"
                                                            href="/">UPGRADE</a>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
<script>
    jQuery(document).ready(function($) {

    });
</script>
{% endblock %}